.board {
    display: flex;
    /* flex-wrap: wrap; */
    flex-direction: column;
    width: 100%;
    height: 100vw;
}

.row {
    display: flex;
    flex: 1;
    /* height: 12.5%;
    width:100%; */
}

.black-square {
    background: rgb(114, 113, 113);
    flex: 1;
    /* height: 100%; */
}

.white-square {
    background-color: rgb(204, 129, 129);
    flex: 1;
    /* height: 100%; */
}

body{
    margin: 200px
}